-
  const telegramChanelLink = "https://t.me/kulturabrunch"
  const instagramLink = "https://www.instagram.com/kultura_brunch"

mixin footer()
  footer.footer
    .footer__wrp
      .footer__links
        a.footer__link(href="about.pug") О нас
        a.footer__link(href="tos.pug") Privacy policy
        a.footer__link(href="tac.pug") Terms and conditions
        a.footer__link(href=instagramLink target="_blank") Instagram
        a.footer__link(href=telegramChanelLink target="_blank") Telegram
      p.footer__copyright © 2022 Kultura Brunch
