-
  const instagramLink = "https://www.instagram.com/kultura_brunch_evn/"

mixin footer()
  footer.footer
    .footer__wrp
      .footer__links
        a.footer__link(href="about.pug") О нас
        a.footer__link(href="privacy.pug") Политика конфиденциальности
        a.footer__link(href="return.pug") Политика возврата
        a.footer__link(href=instagramLink target="blank") Instagram
      p.footer__copyright © 2023 Kultura Brunch
