mixin head(title)

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='scss/index.scss')

    link(rel='preload' href='fonts/roboto-v30-latin_cyrillic-regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')

    //- link(rel='manifest' href='./manifest.webmanifest')
    link(rel='icon' href='img/favicon.ico')
    link(rel='icon' href='img/favicon.jpg' type='image/jpeg')
    link(rel='apple-touch-icon' href='img/apple-touch-icon.png')

    meta(property='og:title' content=title)
    meta(property='og:description' content='Kultura brunch — мероприятия в Тбилиси')
    meta(property='og:image' content='https://github.com/dreadwood/kultura-brunch-site/raw/master/src/img/logo.jpg')
    meta(property='og:type' content='website')
    meta(property='og:url' content= 'https://kulturabrunch.com')
    meta(property='og:locale' content= 'ru_RU')

    title=title
