include ./pug/components/head
include ./pug/components/image
include ./pug/components/header
include ./pug/components/footer

doctype html
html(lang="ru")
  head
    +head("Kultura brunch. О нас.")

  body
    +header()

    main.page
      h1.page__title О нас и о вас


    +footer()
