extends ./pug/components/layout.pug
include ./pug/components/head

block head
  - const title = "Kultura brunch. О нас."
  +head(title)

block content
  .doc
    h1 О нас
    p Проект Kultura Brunch создан в июне 2022 года Эльвирой, экспертом в сфере галерейного бизнеса, и Настей, исследовательницей современного искусства. Мы верим в то, что искусство объединяет, помогает говорить на разные темы и расширяет кругозор. Нам хочется собирать на встречах разносторонних людей и делиться с ними нашей любовью к искусству!
    p Мы организуем душевные встречи за завтраком, где всем будет комфортно говорить, рассуждать и делиться собственным мнением, а также музейные и пешие экскурсии по городу. Это не очередные скучные лекции или экскурсии об искусстве, а разговоры на  актуальные темы о современном искусстве доступным языком.

    h2(href="#contact") Contact us
    p
      a(href="tel:+995591202693") +995591202693 #[br]
      a(href="mailto:kulturabrunch@gmail.com" target="_blank") kulturabrunch@gmail.com
    p
      | Individual Entrepreneur Bykov Sergei #[br]
      | 328527759
    p
      | Georgia, Dedophlistskaro district, village Ozaani #[br]
      | საქართველო, დედოფლისწყაროს რაიონი, სოფელი ოზაანი
    p
      | Account number: #[br]
      | Bank of Georgia #[br]
      | GE18BG0000000537571285USD
