include ./pug/components/head
include ./pug/components/image
include ./pug/components/header
include ./pug/components/card-buy
include ./pug/components/footer

-
  const event = events[1]
  const title = `Kultura brunch. ${event.title}`
  const buyButton = {
    text: "Купить через бот",
    link: "https://t.me/KulturaBrunchBot"
  }

doctype html
html(lang="ru")
  head
    +head("Kultura brunch. Экскурсия Нико Пиросмани")

  body
    +header()

    main.page
      +card-buy(event)

    +footer()
