extends ./pug/components/layout.pug
include ./pug/components/head
include ./pug/components/card-buy

block head
  -
    const event = events[2]
    const title = `Kultura brunch. ${event.title}`
  +head(title)

block content
  -
    const buyButton = {
      text: "Заказать",
      link: "https://t.me/ellyprohorova"
    }
  +card-buy(event)
