extends ./pug/components/layout.pug
include ./pug/components/head
include ./pug/components/card-buy

block head
  - const event = events[1]
  - const title = `Kultura brunch. ${event.title}`
  +head(title)

block content
  -
    const buyButton = {
      text: "Купить через бот",
      link: "https://t.me/KulturaBrunchBot"
    }
  +card-buy(event)
