extends ./pug/components/layout.pug
include ./pug/components/head

block head
  -
    const title = "Kultura brunch. Политика конфиденциальности."
  +head(title)

block content
  .doc
    h1 Политика конфиденциальности
    p Последнее обновление: 4 мая 2023

    p Политика конфиденциальности устанавливает способ, по которому IE Prokhorova Elvira (Kultura Brunch) использует и защищает любую информацию, предоставленную Вами при использовании услуг Kultura Brunch. Законодательство РА является применимым правом для содержания этого веб-сайта и настоящей Политики конфиденциальности.

    h2 Сбор информации
    p Мы можем собирать и хранить следующую личную информацию:
    ul
      li Имя-фамилия, электронный почтовый адрес, телефоны.
      li Банковские реквизиты, если оплата была произведена банковским переводом. Мы НЕ владеем данными вашей платежной карты, поскольку онлайн-платежи на нашем сайте осуществляются исключительно через платежную систему.
      li Ваша история заказов, список предпочитаемых услуг и т. д.
      li Адрес доставки заказа и дополнительная информация, необходимая для организации доставки.

    h2 Использование информации
    p Настоящим вы соглашаетесь с тем, что мы можем использовать вашу личную информацию для:
    ul
      li Организации доставки заказов, оказания услуг, оказания необходимой поддержки.
      li Оценки и улучшения качества предоставляемых нами услуг.
      li Проверки или сообщения дополнительной информации в нестандартных ситуациях при помощи звонка или электронной почты.
      li Отправки уведомлений, электронных писем о наших продуктах, услугах и доставке.

    h2 Конфиденциальность информации
    p Информация, которую вы нам предоставляете, считается строго конфиденциальной и не может быть передана третьим лицам.

    h2 Право на удаление персональных данных
    p Вы имеете право запросить удаление вашей личной информации в любое время. Как только мы получим и подтвердим ваш запрос, все предоставленные вами данные будут удалены из нашей записи.
