extends ./pug/components/layout.pug
include ./pug/components/head

block head
  -
    const title = "Kultura brunch. Пользовательское соглашение."
  +head(title)

block content
  .doc
    h1 PRIVACY POLICY
    p Last updated: 23 December 2022
    p This Privacy Policy (“Policy) is a binding data processing agreement between legal entity and/or individual entrepreneur (“IE”) as defined under the laws of Georgia (“Merchant”, “your” or “you”) and Kultura Brunch that procesess data for the provision of the Services as defined in the Terms and Conditions. When used in this Terms “Kultura Brunch”, “we”, “us” or “our” refer to the legal entity – Individual Entrepreneur Sergei Bykov, company registered under the laws of Georgia, identification code: 328527759.

    h2 1. WHAT INFORMATION DO WE COLLECT?
    p #[b Personally Identifiable Information]
    p We collect information that you provide us with during registration: user's name, full name, e-mail address, home address, mobile phone number etc.
    p We also use cookies to make it easier for you to navigate the website. Cookies also enable us to track and target the interests of users to enhance the experience on the website. For more information, please refer to our Cookie Policy.
    p #[b Non-Personally Identifiable Information]
    p We collect details of your visits to our website including, but not limited to, traffic data, location data, length visit, number of page views and other communication data, whether this is required for our own purposes or otherwise, and the services that you access on our website and how you use them.
    p We process information about your IP address, which we automatically receive and record your web browser when you interact with our website and about your device information.
    p Non-Personally Identifiable Information is anonymized and is collected to improve the website usability and for marketing purposes. Non-Personally Identifiable Information is not a subject of regulation of this privacy policy.

    h2 2. YOUR CONSENT
    p Our processing of your Personal Information is based on your consent to do so, which you provide to us before we collect information.
    p You can withdraw your consent at any time.

    h2 3. HOW DO WE USE YOUR PERSONAL INFORMATION?
    p Personal data submitted on our website will be used for the purposes specified in this Policy. We may use your Personal Information for the below provided reasons:
    ul
      li to carry out our obligations arising from any agreements entered into between you and us;
      li to provide you with email newsletters and announcements;
      li to contact you about other products and service offers from us;
      li to provide you with significant announcements about website’s functions or services, about any
      ul
        li user account you may create;
        li to improve the website usability;
      li for marketing purposes; and
      li to improve your browsing experience by personalizing the Website.
    p We are sharing your email address with the third party, who performs services for us. This third party may only use information about you to perform services on our behalf or disclose it to the extent that they are required to do so by law or in connection with any legal proceedings or prospective legal proceedings.
    p We may also provide payment systems of third parties for the payment for our services. In this case, you will give your personal information directly to third parties. The use of this information will be governed by privacy policies of third parties.

    h2 4. RETAINING YOUR PERSONAL INFORMATION
    p We will store your Personal Information as long as it is necessary to carry out our obligations arising from any agreements entered into between you and us or we have a legitimate interest (e.g. regulatory requirements, marketing purposes) in it. We will not store your information if it is not used anymore for the purposes listed in this Policy.

    h2 5.OTHER DISCLOSURES
    p In addition to the disclosures for the purposes identified elsewhere in this Policy, we may disclose information about you:
    ul
      li to the extent that we are required to do so by law;
      li in connection with any legal proceedings or prospective legal proceedings;
      li in order to establish, exercise or defend our legal rights; and
      li to the purchaser or seller of any business or asset which we are selling or purchasing.
    p Except as provided in this Policy, we do not intend to sell, share or rent your information to third parties.

    h2 6. YOUR RIGHTS
    p Regarding your Personal Information, you have the right to request us:
    ul
      li an access to the information that was collected;
      li to update and keep information accurate;
      li to delete any undesirable collected information;
      li to restrict the processing of the information;
      li to stop the processing of the information in case that the information is used for direct marketing purposes; and
      li to send collected Personal Information to any third party.

    h2 7. SECURITY OF YOUR PERSONAL INFORMATION
    p We provide all organizational and technical measures for the data protection, which are required under the privacy laws of Georgia, including encryption of your personal information.
    p We will take necessary and sufficient organizational and technical measures to protect your information from the unauthorized or accidental access, destruction, modification, blocking, copying, distribution, as well as from other illegal actions of third parties.
    p We will not be responsible for illegal actions of third parties, hackers, intruders and other violators of this Policy and attempt to seize all or part of your Personal Information.
    p Immediate access to the Personal Information is allowed only to our authorized representatives involved in the Service provision.

    h2 8. CORRECTION AND UPDATING OF PERSONAL INFORMATION
    p If you provide personally identifiable information changes (e.g. email address), we will endeavor to provide a way to correct, update or remove your personal data.

    h2 9. THIRD PARTY WEBSITES
    p Our website may contain links to other websites. We are not responsible for the content, terms and conditions or privacy policies of third-party websites.

    h2 CONTACTING US
    p If you have any questions regarding the use of your information, please feel free to contact us at the following e-mail: #[a(href="mailto:kulturabrunch@gmail.com" target="_blank") kulturabrunch@gmail.com]
